<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <% if(user){ %>
    <h2><%= user.username %></h2>
    <a href="/log-out">Log out</a>

    <% } %> <% for(let message of messages) { %> <% if(user.admin) { %>
    <h3><%= message.author.username %></h3>
    <p><%= message.text %></p>
    <hr />
    <% } else {%>
    <h3>Anonymous</h3>
    <p><%= message.text %></p>
    <% } %> <% } %>

    <p><a href="/messages/new">Add new message</a></p>
  </body>
</html>
